<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Family Tree</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="/static/lineage.min.js"></script>
    <link rel="stylesheet" href="/static/style.css">
    <div id="tree"></div>
</head>

<body>

    <div id="divFamily"></div>
    <script src="/static/Tree.js"></script>

    <a href="/get_add_member"> <button class="button-27" role="button">Add Node</button> </a>
    <a href="/get_edit_member"> <button class="button-27" role="button">Edit Node</button> </a>
    <a href="/search"> <button class="button-27" role="button">Search</button> </a>
</body>

</html>